.form{
  border: 7px solid orange;
}

.flexi-form{
  text-align: center; 
}

.message-info{
  text-align: center;
  padding-top: 100px;
  font-weight: bold;
  font-size: 30px;
  color: green;
}

.person-name{
  padding: 20px 500px 20px;
  font-size: 25px;
} 

.person-name_value{
  font-size: 15px;
  height: 20px;
}

.person-city{
  padding: 20px 500px 20px;
  font-size: 25px;
  height: 25px;  
}

.person-dropdown{
  width: 160px;
  height: 25px;
  font-size: 15px;
}

.submitBtn{
  color: lightblue;
  margin: auto;
  padding-top: 25px;
}

.btn{
  background-color: lightskyblue;
  border-radius: 5px;
  height: 35px;
  width: 100px;
}
